header .back{
    transform: scaleX(-1);
    width: 2em;
    height: 2em;
}

.selectGroup,#curve_chart,#chart_div{
    border: 1px solid #660e80;
    padding: 1rem;
    border-radius: 5px;
}

@media (max-width: 900px) {

    html{
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {

    html{
        font-size: 0.5em;
    }
}

@media (max-width: 529px) {

    html{
        font-size: 0.4em;
    }
}